/* Page */
.page-head {
  margin-top: 100px;
  padding: 0 40px;
  @media only screen and (max-width: $mobile) {
    margin-top: 50px;
    padding: 0;
  }
}

.page-head__title {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 40px;
  @media only screen and (max-width: $tablet) {
    font-size: 38px;
    line-height: 48px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}

.image-box {
  padding: 40px 0;
  margin: 0 40px 40px;
  background: $light-gray;
  @media only screen and (max-width: $tablet) {
    padding: 0;
  }
  @media only screen and (max-width: $mobile) {
    margin: 0 40px 20px;
  }
}

.page-image {
  display: block;
  margin: 0 -40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $light-gray;
  &:after {
    content: "";
    display: table;
    padding-top: 85%;
  }
}
