<!-- begin footer -->
<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
      <footer class="footer">
        <!-- Instafeed
        <div class="footer__inner">
          <div class="footer__head">
            {% include instagram.html %}
          </div>
        </div>
        -->
        <!-- Direct Email
        {% include contact-link.html %}
        -->
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.brand}}</a>.  All rights reserved.</div>
      </footer>
    </div>
  </div>
</div>
<!-- end footer -->
