<!-- begin footer -->
<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__head">
            {% include instagram.html %}
          </div>
        </div>
        {% include contact-link.html %}
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>. Crafted & Designed by <a
            href="https://artemsheludko.github.io">Artem Sheludko</a>.</div>
      </footer>
    </div>
  </div>
</div>
<!-- end footer -->