<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.seo_title != empty %}{{ page.seo_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,400&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <!-- Favicon & Apple Touch icons -->
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="144x144" href="/favicon-144x144.png" />
  <link rel="icon" type="image/png" sizes="256x256" href="/favicon-256x256.png" />
  <link rel="icon" type="image/png" sizes="512x512" href="/favicon-512x512.png" />

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
  <!-- SEO -->
  <meta name="msvalidate.01" content="92ED59286A439C445807B3CD562366D3" /> <!-- Bing -->
  <meta name="yandex-verification" content="7a3dd8b527403c95" />

  <!-- Open Graph -->
  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.seo_title %}
  <meta content="{{ page.seo_title }}" property="og:title">
  {% elsif page.title %}
  <meta content="{{ page.title }}" property="og:title">
  {% else %}
  <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}
  {% if page.summary %}
  <meta content="{{ page.summary }}" property="og:description">
  {% else %}
  <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}
  {% if page.image %}
  <meta content="/images/{{ page.image }}" property="og:image">
  {% else %}
  <meta content="/images/01.jpeg" property="og:image">
  {% endif %}
  {% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
  {% endif %}
  {% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
  {% endif %}
  <!-- end Open Graph -->
</head>
