<!-- Twitter Card -->
<meta name="twitter:card" content="summary">
{% if author.twitter %}
  <meta name="twitter:site" content="@{{ author.twitter }}">
  <meta name="twitter:creator" content="@{{ author.twitter }}">
{% else %}
  <meta name="twitter:site" content="@xavierosee">
  <meta name="twitter:creator" content="@xavierosee">
{% endif %}
{% if page.seo_title %}
  <meta name="twitter:title" content="{{ page.seo_title }}">
{% elsif page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/images/01.jpeg">
{% endif %}
<!-- End Twitter Card -->