/* Pagination */
.pagination {
  margin: 20px 0 0;
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;

  .disabled,
  .previous-link,
  .next-link,
  .back-link,
  .active-link,
  .count-number {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    background: $white;
  }

  .disabled {
    display: none;
  }

  .next-link,
  .previous-link,
  .back-link,
  .count-number {
    &:hover {
      color: $dark;
    }
  }

  .active-link {
    color: $dark;
    background: $light-gray;
  }

  @media only screen and (max-width: 360px) {
    flex-wrap: wrap;
  }
}

.counter-box {
  display: flex;
}