.top {
  position: fixed;
  bottom: 40px;
  right: -100px;
	z-index: 1;
	width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
	background-color: $light-gray;
	color: $dark;
	cursor: pointer;
	transition: all .25s ease;
  
  &.is-active {
    right: 40px;
  }
}

@media only screen and (max-width: $tablet) {
  .top {
    bottom: 25px;
    &.is-active {
      right: 30px;
    }
  }
}