*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input, textarea {
    border: 1px solid $border-color;
    outline: none;
    &:focus:required:invalid {
      border-color: #e02f40;
    }
    &:required:valid {
      border-color: #34a74e;
    }
  }
  
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 29px;
  }
}

::placeholder {
  color: #666;
}

*::selection {
  color: $dark;
  background-color: rgba($brand-color, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  padding-left: $base-spacing-unit;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  line-height: 34px;
  border-left: 3px solid $brand-color;
  font-style: normal;
  
  cite {
    font-size: 16px;
    font-style: normal;
    color: $gray-blue;
    &:before {
      content: '\2014' '\00a0';
    }
  }

  @media only screen and (max-width: $mobile) {
    font-size: 21px;
    line-height: 31px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

img, 
.zoom-img-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  &+em {
    display: block;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: $gray-blue;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  transition: $global-transition;
  &:hover {
      color: $gray-blue;
  }
}

hr {
  display: block;
  height: 1px;
  margin: 50px 0;
  border: 0;
  background: #eeeeee;
}